<div class="bill">
  <div class="row">
    <div class="left">
      <div>
        <h5>Ca phe</h5>
        <hr>
        <br/>
      </div>
      <div *ngFor="let product of products" class="col-1-5">
        <app-product [product]="product" (select)="show($event)"></app-product>
      </div>
    </div>
    <div class="right" style="overflow-y: auto; max-height: 85%">
      <div class="card" style="border: solid thin;">
        <div class="card-header">
          <button class="btn btn-secondary">
            Xem giỏ hàng
          </button>
        </div>
        <div class="card-body">
          <div *ngIf="orderList.length == 0">
            <p class="text-center">Chưa chọn món nào</p> 
          </div>
          <div *ngIf="orderList.length > 0">
            <div *ngFor="let order of orderList">
              <div class="row">
                <div class="col-sm-2">
                  <div class="number-circle">{{order.amount}}</div>
                </div>
                <div class="col-sm-6">
                  <p><b>{{order.name}}</b></p>
                  <p>Size: {{order.size}}</p>
                  <p *ngIf="order.note"><i>Ghi chú: {{order.note}}</i></p>
                </div>
                <div class="col-sm-4">
                  <p>{{formatPrice(order.price)}}đ</p>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <p>Số lượng: {{totalAmount(orderList)}} món</p>
          <p>Tổng cộng: <span style="text-align: right">{{formatPrice(totalPrice(orderList))}} đ</span></p>      
        </div>
      </div>
    </div>
  </div>
  <app-product-detail #productDetail (order)="getOrder($event)"></app-product-detail>
</div>