.left {
    float: left;
    width: 70%;
}

.right {
    position: fixed;
    right: 20px;
    width: 32%;
    overflow-y: auto;
}

button.btn.btn-secondary {
    margin-top: 10px; 
    margin-left: 10px;
    margin-right: 10px;
    width: -webkit-fill-available;
}

.number-circle {
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #666;
}