<div class="bill">
  <div class="btn-group" role="group">
    <button id="0" type="button" class="btn btn-info but" 
      (click)="changeColor($event.target.id)" [style.background-color]="buttons[0] ? '#38afc7' : '#a0d8e4'">Cà phê</button>
    <button id="1" type="button" class="btn btn-info but"
      (click)="changeColor($event.target.id)" [style.background-color]="buttons[1] ? '#38afc7' : '#a0d8e4'">Trà & Macchiato</button>
    <button id="2" type="button" class="btn btn-info but"
      (click)="changeColor($event.target.id)" [style.background-color]="buttons[2] ? '#38afc7' : '#a0d8e4'">Thức uống đá xay</button>
    <button id="3" type="button" class="btn btn-info but"
      (click)="changeColor($event.target.id)" [style.background-color]="buttons[3] ? '#38afc7' : '#a0d8e4'">Thức uống trái cây</button>
  </div>
  <div class="row">
    <div class="left row">
      <div *ngFor="let product of products" class="col-lg-3">
        <app-product [product]="product" (select)="show($event)"></app-product>
      </div>
    </div>
    <div class="right" style="overflow-y: auto; max-height: 85%">
      <div class="card" style="border: solid thin;">
        <div class="card-header">
          <ul class="list-inline">
            <li class="list-inline-item">
              <button class="btn btn-secondary" (click)="cartShow()" [disabled]="orderList.length == 0">
                Sửa
              </button>
            </li>
            <li class="list-inline-item">
              <button class="btn btn-primary" (click)="printInvoice()" [disabled]="orderList.length == 0">
                Xuất hoá đơn
              </button>
            </li>
          </ul>
          <input *ngIf="orderList.length > 0" class="form-control" type="text" placeholder="Mã số chờ" [(ngModel)]="id">
          <div *ngIf="submitted && (!required(id) || !isIdValid(id))">
            <div *ngIf="!required(id)" style="color: red"> * Vui lòng nhập mã số chờ</div>
            <div *ngIf="!isIdValid(id) && required(id)" style="color: red"> * Vui lòng nhập đúng cú pháp</div>
          </div>
          <input *ngIf="orderList.length > 0" style="margin-top: 10px;" class="form-control" type="text" 
            placeholder="Số tiền khách đưa" [(ngModel)]="paid">
          <div *ngIf="submitted && (!required(paid) || !isPaidValid(paid))">
            <div *ngIf="!required(paid)" style="color: red"> * Vui lòng nhập số tiền khách đưa</div>
            <div *ngIf="!isPaidValid(paid) && required(paid)" style="color: red"> * Vui lòng nhập đúng cú pháp</div>
          </div>
        </div>
        <div class="card-body">
          <div *ngIf="orderList.length == 0">
            <p class="text-center">Chưa chọn món nào</p> 
          </div>
          <div *ngIf="orderList.length > 0">
            <div *ngFor="let order of orderList">
              <div class="row">
                <div class="col-sm-2">
                  <div class="number-circle">{{order.amount}}</div>
                </div>
                <div class="col-sm-6">
                  <p><b>{{order.name}}</b></p>
                  <p>Size: {{order.size}}</p>
                  <p *ngIf="order.note"><i>Ghi chú: {{order.note}}</i></p>
                </div>
                <div class="col-sm-4">
                  <p>{{formatPrice(order.price)}}đ</p>
                </div>
              </div>
              <hr *ngIf="order != orderList[orderList.length - 1]">
            </div>
          </div>
        </div>
        <div class="card-footer">
          <p>Số lượng: {{totalAmount(orderList)}} món</p>
          <p>Tổng cộng: <span style="text-align: right">{{formatPrice(totalPrice(orderList))}} đ</span></p>      
        </div>
      </div>
    </div>
  </div>
  <app-product-detail #productDetail (order)="getOrder($event)"></app-product-detail>
  <app-cart #cart ></app-cart>
</div>