.left {
    float: left;
    width: 75%;
    padding-right: 20px;
}

.right {
    position: fixed;
    right: 20px;
    width: 25%;
    overflow-y: auto;
}

button.btn.btn-secondary {
    margin-top: 10px; 
    margin-left: 10px;
    margin-right: 10px;
    width: -webkit-fill-available;
}

.number-circle {
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    border: 1px solid #666;
}

.bill {
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.col-1-5{
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
  }