<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{staff.photo}}" alt="{{staff.name}}">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item"><button class="btn btn-primary" 
        [routerLink]="['/staff/', staff.id]"><i class="fa fa-eye"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-primary"
        [routerLink]="['/staff/edit/', staff.id ]"><i class="fa fa-edit"></i></button></li>
      <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-times-rectangle"></i></button></li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class = "card-title text-center mb-1"><i class="fa fa-staff"></i>
      {{staff.name}} , {{staff.age}}
    </h6>
    <p class = "card-text text-muted text-center">{{getStaffTeamName(staff.teamId)}}</p>
  </div>
</div>