.img-thumbnail {
    margin: 8px;
    width: 95%;
    height: 95%;
}

.card-body {
    padding: 0 5px;
}

.custom-top {
    width: 50%;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px; 
}

img {
    width: 128px; 
    height: 128px;
    margin-left: 30px;
    margin-right: 10px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .fa  { left:  0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#amount > li:last-child {
    float: right;
}