<div bsModal #productDetail="bs-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
              <img src="{{product?.photo}}" alt="{{product?.name}}">
              <div style="align-self: center; margin-left: 10px;">
                  <h5 >{{product.name}}</h5>
                  <p>Loại: {{type.name}}</p> 
              </div>
          </div>
          <button type="button" class="close" (click)="close()">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          LOL
        </div>
      </div> 
    </div>
</div>
