<div class="container" style="margin-top: 70px;align-items: center">
  <div>
    <h1 style="font-weight: bold;text-align: center">Add New Employee</h1>
  </div>
  <div class="tab-panel">
    <div class="center">
      <form #createForm = "ngForm" id="createForm" (ngSubmit)="createStaff()" >
         <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="card bg-faded p-3 text-center mb-3 well my-drop-zone">
          <div class="card-img-wrapper center">
              <img class="center" src="https://makitweb.com/demo/broken_image/images/noimage.png" alt="">
          </div>
          <input
            [(ngModel)]="model.photo"
            [ngModelOptions]="{standalone: true}"
            class="center"
            type="file" 
            ng2FileSelect [uploader]="uploader" />
          <div>
            <div>
                <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                </div>
            </div>
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                <span class="fa fa-upload"></span> Upload
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                <span class="fa fa-ban"></span> Cancel
            </button>
            <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                <span class="fa fa-trash"></span> Remove
            </button>
        </div>
        </div>
          <h4>Name</h4>
          <input name="Name" class="form-control"
            [(ngModel)]="model.name" required>
          <h4>Team</h4>
          <select [(ngModel)]="model.teamId" [ngModelOptions]="{standalone: true}" class="form-control">
            <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
          </select>
          <h4>Gender</h4>
          <select [(ngModel)]="model.gender" [ngModelOptions]="{standalone: true}" class="form-control">
            <option *ngFor="let gender of genderlist" value="{{gender}}">
              {{gender}}
            </option>
          </select>
          <h4>Date Of Birth</h4>
          <input type="date" 
            [(ngModel)]="model.dateofbirth" [ngModelOptions]="{standalone: true}" required>
          <h4>Phone Number</h4>
          <textarea name="Phone"  rows="1" class="form-control"
            [(ngModel)]="model.phone" required></textarea>
          <h4>Email</h4>
          <textarea name="Email"  rows="1" class="form-control"
            [(ngModel)]="model.email" required></textarea>
          <h4>Address</h4>
          <textarea name="Adddress"  rows="1" class="form-control"
            [(ngModel)]="model.address" required></textarea>
      </form>
    </div>
  </div>
  <div class="card-footer">
    <div class="btn-group d-flex">
      <button 
        [disabled]="!createForm.valid" 
        form = "createForm"
        class="btn btn-success btn-block w-200">Add Employee</button>
    </div>
  </div>
</div>