<table id="example" class="display" style="width:100%">
  <thead>
      <tr>
          <th>Id</th>
          <th>Tên</th>
          <th>Tổ</th>
          <th>Giới tính</th>
          <th>Ngày/tháng/năm sinh</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Địa chỉ</th>
          <th>Hình ảnh</th>
      </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
      <tr>
          <th>Id</th>
          <th>Tên</th>
          <th>Tổ</th>
          <th>Giới tính</th>
          <th>Ngày/tháng/năm sinh</th>
          <th>Số điện thoại</th>
          <th>Email</th>
          <th>Địa chỉ</th>
          <th>Hình ảnh</th>
      </tr>
  </tfoot>
</table>