<div class="container mt-4">
  <div class="row-title text-center mb-1" style="padding-top: 6%;font-weight: bold">
        <h1>{{staff.name}}'s Profile</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{staff.photo}}" alt="{{staff.name}}">
        <div class="card-body">
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-primary w-100"
              [routerLink]="['/staff/edit/', staff.id ]">Edit</button>
              <button class="btn btn-success w-100"
              (click)=deleteClick()>Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About" id="tab1">   
            <div>
              <strong>Date Of Birth :</strong>
              <p>{{loadDate(staff)}}</p>
            </div>
            <div>
              <strong>Age :</strong>
              <p>{{staff.age}}</p>
            </div>
            <div>
              <strong>Gender :</strong>
              <p>{{staff.gender}}</p>
            </div>
          </tab>
          <tab heading="Contact">
            <div>
              <strong>Phone :</strong>
              <p>{{staff.phone}}</p>
            </div>
            <div>
              <strong>Email :</strong>
              <p>{{staff.email}}</p>
            </div>
            <div>
              <strong>Address :</strong>
              <p>{{staff.address}}</p>
            </div>
          </tab>
          <tab heading="Photos">
              <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>