<div class="container mt-4">
  <div class="row-title text-center mb-1" style="padding-top: 6%;font-weight: bold">
      <h1>Thông tin của {{member.name}}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{member.photo}}" alt="{{member.name}}">
        <div class="card-body">
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button [disabled]="!isinfochanged" form = "editForm" class="btn btn-success btn-block w-200">Lưu thay đổi</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="Chỉnh sửa thông tin" id="tab1">
            <form #editForm = "ngForm" id="editForm" (ngSubmit)="updateMember()">
              <h4>Tên</h4>
              <input name="Name"  rows="1" class="form-control"
                [(ngModel)]="member.name" required (keyup)="infoChange()">
              <h4>Giới tính</h4>
              <!-- <select (change)="changeGender($event.target.value)" (onchange)="infoChange()" required class="form-control"> 
                <option *ngFor="let gender of genderlist" value="{{gender}}" 
                  [selected]="getGender(member.gender, gender)">
                  {{gender}}
                </option>
              </select> -->
              <select [(ngModel)]="member.gender" [ngModelOptions]="{standalone: true}"  (change)="infoChange()" class="form-control">
                <option *ngFor="let gender of genderlist" value="{{gender}}">
                  {{gender}}
                </option>
              </select>
              <h4>Ngày sinh</h4>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" [value]="loadDate()"
                (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <h4>Số điện thoại</h4>
              <input name="Phone"  rows="1" class="form-control" (keyup)="infoChange()"
                [(ngModel)]="member.phone" required>
              <h4>Địa chỉ</h4>
              <input name="Adddress"  rows="1" class="form-control" (keyup)="infoChange()"
                [(ngModel)]="member.address" required>
            </form>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>