<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container"  >
    <a class="navbar-brand" href="#">Tiệm cafe ABC</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/bill']">
          Lập hoá đơn
        </a>
      </li>
      <li *ngIf="getAccessCode() == 'admin'" class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/staff']">
          Quản lý lý lịch
        </a>
      </li>
      <li *ngIf="getAccessCode() != 'cashier'" class="nav-item dropdown" routerLinkActive="router-link-active" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle>Quản lý thu chi</a>

        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/receipt']" >
            Quản lý phiếu thu
          </a>
          <a class="dropdown-item" [routerLink]="['/payment']" >
            Quản lý phiếu chi
          </a>
        </div>
      </li>
      <li *ngIf="getAccessCode() != 'cashier'" class="nav-item dropdown" routerLinkActive="router-link-active" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle>Thống kê</a>

        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/revenue_report']" >
            Thống kê doanh thu
          </a>
          <a class="dropdown-item" [routerLink]="['/product_report']" >
            Thống kê sản phẩm bán chạy
          </a>
        </div>
      </li>
      <li class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" [routerLink]="['/member']">
          Quản lý thành viên
        </a>
      </li>
      <li *ngIf="getAccessCode() != 'cashier'" class="nav-item" routerLinkActive="router-link-active">
        <a class="nav-link" href="#">Quản lý nguyên liệu</a>
      </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome {{ authService.decodedToken?.unique_name | titlecase}}
      </a>
    
      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a>
      </div>
    </div>
  </div>
    
</nav>