<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <a class="navbar-brand" href="#">
    <img src="https://scontent.fsgn2-3.fna.fbcdn.net/v/t1.15752-9/65444816_318607395682474_6416278826342416384_n.png?_nc_cat=108&_nc_oc=AQnFYriJC6HaxxhKbAYk_GNL3so_AnWhjCAPmd3kPpna1JbL1bnrxCqqLh8MhLjPy5Q&_nc_ht=scontent.fsgn2-3.fna&oh=535a9ada323df7cfacbfea9fc31e2173&oe=5DC1FFA5">
  </a>

  <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="router-link-active">
      <a class="nav-link" [routerLink]="['/bill']">
        Lập hoá đơn
      </a>
    </li>
    <li *ngIf="authService.decodedToken?.actort == 'admin' " class="nav-item" 
      routerLinkActive="router-link-active">
      <a class="nav-link" [routerLink]="['/staff']">
        Quản lý lý lịch
      </a>
    </li>
    <li *ngIf="authService.decodedToken?.actort != 'cashier'" class="nav-item dropdown" routerLinkActive="router-link-active" dropdown>
      <a class="nav-link dropdown-toggle" dropdownToggle>Quản lý thu chi</a>

      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/receipt']" >
          Quản lý phiếu thu
        </a>
        <a class="dropdown-item" [routerLink]="['/payment']" >
          Quản lý phiếu chi
        </a>
      </div>
    </li>
    <li *ngIf="authService.decodedToken?.actort == 'admin'" class="nav-item dropdown" routerLinkActive="router-link-active" dropdown>
      <a class="nav-link dropdown-toggle" dropdownToggle>Thống kê</a>

      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/revenue_report']" >
          Thống kê doanh thu
        </a>
        <a class="dropdown-item" [routerLink]="['/product_report']" >
          Thống kê sản phẩm bán chạy
        </a>
      </div>
    </li>
    <li class="nav-item" routerLinkActive="router-link-active">
      <a class="nav-link" [routerLink]="['/member']">
        Quản lý thành viên
      </a>
    </li>
    <li *ngIf="authService.decodedToken?.actort != 'cashier'" class="nav-item">
      <a class="nav-link disable">Quản lý nguyên liệu</a>
    </li>
  </ul>

  <div *ngIf="loggedIn()" class="dropdown" style="margin-right: 50px;" dropdown>
    <a class="dropdown-toggle text-light" dropdownToggle>
      Welcome {{ authService.decodedToken?.unique_name }}
    </a>
  
    <div class="dropdown-menu mt-3" *dropdownMenu>
      <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Thông tin cá nhân</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" [routerLink]="['/register']" *ngIf="authService.decodedToken?.actort == 'admin' ">
        <i class="fa fa-user"></i> 
        Thêm mới tài khoản 
      </a>
      <div class="dropdown-divider" *ngIf="authService.decodedToken?.actort == 'admin'"></div>
      <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i> Đăng xuất</a>
    </div>
  </div>
</nav>