#content {
    margin: auto;
    width: 1024px;
    background-color: #FFFFFF;
    margin-top: 70px;
    display: flex;
    flex-direction: column;

}
.btn {
    padding: 10px;
    margin: 10px;
}
/* .material-icons {
    color: crimson;
} */