<div bsModal #order="bs-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <span>Xuất hoá đơn</span>
        </h5>
        <button type="button" class="close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="submitForm" (submit)="print()">
          <div class="form-group">
            <label>Mã số chờ: </label>
            <input type="text" formControlName="id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }" />
            <div *ngIf="submitted && f.id.errors" class="invalid-feedback">
              <div *ngIf="f.id.errors">Vui lòng nhập mã số chờ</div>
            </div>
          </div>
          <div class="form-group">
            <label>Tiền khách đưa: </label>
            <input type="text" formControlName="payment" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.payment.errors }" />
            <div *ngIf="submitted && f.payment.errors" class="invalid-feedback">
              <div *ngIf="f.payment.errors">Vui lòng nhập số tiền khách đưa</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit">In hoá đơn</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
