<div class="container mt-4">
  <div class="row-title text-center mb-1" style="padding-top: 6%;font-weight: bold">
        <h1>Thông tin cá nhân của {{member.name}}</h1>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{member.photo}}" alt="{{member.name}}">
        <div class="card-body">
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-primary w-100"
              [routerLink]="['/member/edit/',member.id]">Chỉnh sửa</button>
              <button class="btn btn-success w-100"
              (click)=deleteClick()>Xóa</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About" id="tab1">   
            <div>
              <strong>Ngày sinh :</strong>
              <p>{{loadDate(member)}}</p>
            </div>
            <div>
              <strong>Tuổi :</strong>
              <p>{{member.age}}</p>
            </div>
            <div>
              <strong>Giới tính :</strong>
              <p>{{member.gender}}</p>
            </div>
          </tab>
          <tab heading="Liên hệ">
            <div>
              <strong>Số điện thoại :</strong>
              <p>{{member.phone}}</p>
            </div>
            <div>
              <strong>Địa chỉ :</strong>
              <p>{{member.address}}</p>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>