<div class="card mb-4">
  <div class="card-img-wrapper">
      <img class="card-img-top" src="{{product?.photo}}" alt="{{product?.name}}">
  </div>
  <div class="card-body p-1" style="height: 45px;">
      <h6 class="card-title text-center mb-1">
        {{product.name}}
      </h6>
  </div>
  <div class="card-bottom">
      <ul class="list-inline custom-icon animate text-center">
          <li class="list-inline-item">
              <button class="btn btn-primary" (click)="add(product.id)">
                  Thêm 
              </button>
          </li>
      </ul>
  </div>
</div>