img {
    width: 100%;
    height: 100%;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.left {
    width: 25%;
    margin-left: 10px;
}

.middle {
    margin-left: 20px;
    width: 60%;
}

.right {
    width: 10%;
}