<div class="example-config text-center" style="margin-top: 80px;">
  <button kendo-button class="btn btn-primary" (click)="pdf.saveAs('invoice.pdf')" >
    Save As PDF...
  </button>
</div>

<div class="container">
  <kendo-pdf-export #pdf paperSize="A4" margin="2cm">
    <div class="items">
      <kendo-grid [data]="data" scrollable="none">
        <kendo-grid-column field="productName" title="Tên sản phẩm">
          <ng-template kendoGridFooterTemplate>
            Tổng cộng
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="unitPrice" format="{0:c}" title="Giá" width="120">
        </kendo-grid-column>
        <kendo-grid-column field="qty" title="Số lượng" width="120">  
          <ng-template kendoGridFooterTemplate let-column="column">
            {{ totals[column.field].sum }}
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="total" format="{0:c}" title="Thành tiền" width="120">
          <ng-template kendoGridFooterTemplate let-column="column">
            {{ totals[column.field].sum}}
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </kendo-pdf-export>
</div>
