kendo-pdf-export {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    font-size: 12px;
}

span {
    font-family: "DejaVu Sans", "Arial", sans-serif;
    font-size: 12px;
}

@font-face {
    font-family: 'DejaVu Sans';
    src: url('./DejaVuSans.ttf') format('truetype');
}

@font-face {
    font-family: 'Aria;';
    src: url('./arial.ttf') format('truetype');
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #e5e5e5;
    color: #3aabf0;
  }

  .address {
      display: flex;
      justify-content: space-between;
      margin: 0 0 20px 0;
  }

  .from p, .for p {
    color: #787878;
  }

  .container {
      width: 50%;
      margin-top: 10px;
  }

.label {
    padding: 5px;
    font-weight: bold;
    color: black;
}

span {
    color: grey;
}

.value { float:right }
.key { float:left }

