<!-- <div class="text-center mt-3">
    <h2>Your matches - {{pagination.totalItems}} found</h2>
</div> -->



<!-- <div class="container mt-3"> -->
    <!-- <form class="form-inline" #form="ngForm" (ngSubmit)="loadStaffs()" novalidate>
        <div class="form-group">
            <label for="minAge">Age From</label>
            <input type="number" class="form-control ml-1" style="width: 70px" id="minAge"
                  [(ngModel)]="staffParams.minAge" name="minAge">
        </div>
              
        <div class="form-group px-2">
            <label for="maxAge">Age To</label>
            <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge"
                  [(ngModel)]="staffParams.maxAge" name="maxAge">
        </div>
              
        <div class="form-group px-2">
            <label for="gender">Show: </label>
            <select class="form-control ml-1" style="width: 130px" id="gender"
                  [(ngModel)]="staffParams.gender" name="gender">
                <option *ngFor="let gender of genderList" [value]="gender.value">
                        {{gender.display}}
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="margin-left:10px">Tìm</button>
        <button type="button" class="btn btn-info" (click)="resetFilter()" style="margin-left:10px">Reset Filter</button>
        </form>
        <br> -->
<button class="btn btn-primary" (click)="toCreatePage()" style="width: 200px;height: 50px;margin-top: 1in; margin-left: 45%">Add Staff</button>

<div class="container mt-3 ">
        
    <div class="alert alert-danger mt-2" *ngIf="noResult">Không có kết quả</div>

    Name: <input [(ngModel)]="selectedValue"
    [typeahead]="staffs"
    typeaheadOptionField="name"
    (typeaheadOnSelect)="onSelectName($event)"
    (typeaheadNoResults)="typeaheadNoResults($event)"
    class="form-control mt-2"
    (keypress)="onChange()"
>    
    <div class="alert alert-danger mt-2" *ngIf="noResult">Không có kết quả</div>
    
    Phone: <input [(ngModel)]="selectedValue"
        [typeahead]="staffs"
        typeaheadOptionField="phone"
        (typeaheadOnSelect)="onSelectPhone($event)"
        (typeaheadNoResults)="typeaheadNoResults($event)"
        class="form-control mt-2"
        (keypress)="onChange()"
>

<!-- <pre class="container mt-2">Lý lịch: {{selectedOption | json}}</pre> -->

<h1 class="text-center text-primary">Staff List</h1>
    <div class="row">
        <div *ngFor="let staff of staffs" class="col-lg-2 col-md-3 col-sm-6" style="padding-top: 2%">
            <app-staff-card [staff]="staff"></app-staff-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>
      