<button class="btn btn-primary" (click)="toCreatePage()" style="width: 200px;height: 50px;margin-top: 1in; margin-left: 45%">Add Staff</button>

<div class="container mt-3 ">
        
    <div class="alert alert-danger" style="width: 300px; margin-right: 0%" *ngIf="noResult">Không có kết quả</div>

    <ul class="list-inline">       
        <li class="list-inline-item">
            <input [(ngModel)]="model.selectedName"
            [typeahead]="staffs"
            typeaheadOptionField="name"
            (typeaheadOnSelect)="onSelectName($event)"
            (typeaheadNoResults)="typeaheadNoResults($event)"
            class="form-control"
            placeholder="Name"
            (keypress)="onChange()">
        </li>
        <li class="list-inline-item">
            <input [(ngModel)]="model.selectedPhone"
            [typeahead]="staffs"
            typeaheadOptionField="phone"
            (typeaheadOnSelect)="onSelectPhone($event)"
            (typeaheadNoResults)="typeaheadNoResults($event)"
            class="form-control"
            placeholder="Phone"
            (keypress)="onChange()">
        </li>
        <li class="list-inline-item">
            <input [(ngModel)]="model.selecetedAddress"
            [typeahead]="staffs"
            typeaheadOptionField="address"
            (typeaheadOnSelect)="onSelectAddress($event)"
            (typeaheadNoResults)="typeaheadNoResults($event)"
            class="form-control"
            placeholder="Address"
            (keypress)="onChange()">
        </li>
        <li class="list-inline-item">
            <button class="btn btn-outline-success" (click)="onSelectName()">Search</button>
        </li>
        <li class="list-inline-item">
            <button class="btn btn-outline-danger" (click)="resetFilter()">Reset</button>
        </li>
    </ul>

<h1 class="text-center text-primary">Staff List</h1>
    <div class="row">
        <div *ngFor="let staff of staffs" class="col-lg-2 col-md-3 col-sm-6" style="padding-top: 2%">
            <app-staff-card [staff]="staff"></app-staff-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>
