<button class="btn btn-primary" (click)="toCreatePage()" style="width: 300px;height: 50px;margin-top: 1in; margin-left: 43%">Thêm Nhân Viên Mới</button>

<div class="container mt-3 ">

    <ul class="list-inline">       
        <li class="list-inline-item padding-right: 2px" style="width: 24%">
            <input [(ngModel)]="model.selectedName"
            [typeahead]="staffs"
            typeaheadOptionField="name"
            (typeaheadOnSelect)="onSelectName($event)"         
            class="form-control"
            placeholder="Nhập tên"
            (keypress)="onChange()">
        </li>
        <li class="list-inline-item padding-right: 2px" style="width: 14%">
            <input [(ngModel)]="model.selectedPhone"
            [typeahead]="staffs"
            typeaheadOptionField="phone"
            (typeaheadOnSelect)="onSelectPhone($event)"
            class="form-control"
            placeholder="Nhập sđt"
            (keypress)="onChange()">
        </li>
        <li class="list-inline-item equal-width">
            <input [(ngModel)]="model.selecetedAddress"
            [typeahead]="staffs"
            typeaheadOptionField="address"
            (typeaheadOnSelect)="onSelectAddress($event)"
            class="form-control"
            placeholder="Nhập địa chỉ"
            (keypress)="onChange()">
        </li>
        <li class="list-inline-item equal-width">
                <input [(ngModel)]="model.selectedEmail"
                [typeahead]="staffs"
                typeaheadOptionField="email"
                (typeaheadOnSelect)="onSelectEmail($event)"         
                class="form-control"
                placeholder="Nhập e-mail"
            (keypress)="onChange()">
        </li> 
    </ul>
    <ul class="list-inline">
            <li class="list-inline-item padding-right: 2px" style="width: 13%">
                    <input [(ngModel)]="model.selectedAge"
                    [typeahead]="staffs"
                    typeaheadOptionField="age"
                    (typeaheadOnSelect)="onSelectAge($event)"
                    class="form-control"
                    placeholder="Nhập tuổi"
                    (keypress)="onChange()">
            </li>
            <li class="list-inline-item padding-right: 2px" style="width: 21%">
                <select class="form-control" (change)="onSelectGender($event.target.value)">
                    <option value="all">--Chọn giới tính--</option>
                    <option *ngFor="let gender of genderList" value="{{gender}}" 
                      [selected]="model.selectedGender === gender">{{getGender(gender)}}</option>
                </select>
            </li>
            <li class="list-inline-item padding-right: 2px" style="width: 23%">
                <select class="form-control" (change)="onSelectTeamId($event.target.value)">
                    <option value="all">--Chọn quyền truy cập--</option>
                    <option *ngFor="let teamId of teamIdList" value="{{teamId}}" 
                      [selected]="model.selectedTeamId === teamId">{{getTeamId(teamId)}}</option>
                </select>
            </li>
            <li class="list-inline-item" style="width: 19%">
                <button class="btn btn-outline-success" style="width: 100%" (click)="applyFilter()">Tìm</button>
            </li>
            <li class="list-inline-item" style="width: 19%">
                <button class="btn btn-outline-danger" style="width: 100%" (click)="resetFilter()">Khôi phục</button>
            </li>
    </ul>

    <h3 class="text-center text-primary">Danh Sách Nhân Viên</h3>
    
    <div class="row">
        <div *ngFor="let staff of staffs" class="col-1-5">
            <app-staff-card [staff]="staff"></app-staff-card>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [itemsPerPage]="pagination.itemsPerPage"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>
