@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
#content {
    margin: auto;
    width: 1024px;
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin-top: 70px;

}
.btn {
    padding: 10px;
    margin: 10px;
}